{% doc %}
Renders country and language selectors.
@param {string} [id_prefix] - Unique ID prefix.
{% enddoc %}

{%- liquid
  assign form_id = id_prefix | default: 'Localization'
-%}

{%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
  {%- form 'localization', class: 'localization-form' -%}
    {%- if localization.available_countries.size > 1 -%}
      <label class="field" for="{{ form_id }}Country">
        <span class="visually-hidden">{{ 'localization.country_label' | t }}</span>
        <select class="field__input" id="{{ form_id }}Country" name="country_code">
          {%- for country in localization.available_countries -%}
            <option value="{{ country.iso_code }}" {% if country.iso_code == localization.country.iso_code %}selected{% endif %}>
              {{ country.name }} ({{ country.currency.iso_code }})
            </option>
          {%- endfor -%}
        </select>
      </label>
    {%- endif -%}

    {%- if localization.available_languages.size > 1 -%}
      <label class="field" for="{{ form_id }}Language">
        <span class="visually-hidden">{{ 'localization.language_label' | t }}</span>
        <select class="field__input" id="{{ form_id }}Language" name="locale_code">
          {%- for language in localization.available_languages -%}
            <option value="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %}selected{% endif %}>
              {{ language.endonym_name | capitalize }}
            </option>
          {%- endfor -%}
        </select>
      </label>
    {%- endif -%}

    <button class="button button--secondary" type="submit">{{ 'localization.update' | t }}</button>
  {%- endform -%}
{%- endif -%}
