{% doc %}
Renders accessible pagination controls.
@param {paginate} paginate - Pagination object.
{% enddoc %}

{%- if paginate.pages > 1 -%}
  <nav class="pagination" role="navigation" aria-label="Pagination">
    {%- if paginate.previous -%}
      <a class="pagination__link pagination__link--previous" href="{{ paginate.previous.url }}">
        {% render 'icon', icon: 'arrow-left' %}
        <span>{{ 'pagination.previous' | t }}</span>
      </a>
    {%- endif -%}

    <div class="pagination__pages" aria-label="{{ 'pagination.pages' | t }}">
      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <a class="pagination__page" href="{{ part.url }}">{{ part.title }}</a>
        {%- elsif part.title == paginate.current_page -%}
          <span class="pagination__page pagination__page--current" aria-current="page">{{ part.title }}</span>
        {%- else -%}
          <span class="pagination__page pagination__page--gap">{{ part.title }}</span>
        {%- endif -%}
      {%- endfor -%}
    </div>

    {%- if paginate.next -%}
      <a class="pagination__link pagination__link--next" href="{{ paginate.next.url }}">
        <span>{{ 'pagination.next' | t }}</span>
        {% render 'icon', icon: 'arrow-right' %}
      </a>
    {%- endif -%}
  </nav>
{%- endif -%}
