<article class="page-width">
  <div class="section-heading">
    <p class="section-heading__eyebrow">{{ blog.title }}</p>
    <h1>{{ article.title }}</h1>
  </div>

  {%- if article.image != blank -%}
    {% render 'image', image: article.image, width: 1600, height: 1000, crop: 'center' %}
  {%- endif -%}

  <div class="rte">
    {{ article.content }}
  </div>

  {%- if blog.comments_enabled? -%}
    <section class="article-comments">
      <h2>{{ 'blog.article_comments' | t }}</h2>
      {% paginate article.comments by 10 %}
        {%- for comment in article.comments -%}
          <article class="card card--surface">
            <div class="card__body">
              <h3 class="card__title">{{ comment.author }}</h3>
              <p class="card__text">{{ comment.created_at | time_tag: format: 'date' }}</p>
              <div class="rte">{{ comment.content }}</div>
            </div>
          </article>
        {%- endfor -%}
        {% render 'pagination', paginate: paginate %}
      {% endpaginate %}
    </section>
  {%- endif -%}
</article>

{% schema %}
{
  "name": "Article",
  "settings": []
}
{% endschema %}
