<section class="page-width">
  <div class="section-heading">
    <p class="section-heading__eyebrow">{{ 'blog.title' | t }}</p>
    <h1>{{ blog.title }}</h1>
  </div>

  {%- paginate blog.articles by 12 -%}
    <div class="cards-grid">
      {%- for article in blog.articles -%}
        <article class="card card--surface">
          {%- if article.image != blank -%}
            {% render 'image', image: article.image, url: article.url, width: 1200, height: 800, crop: 'center' %}
          {%- endif -%}
          <div class="card__body">
            <h3 class="card__title"><a href="{{ article.url }}">{{ article.title | escape }}</a></h3>
            <p class="card__text">{{ article.excerpt_or_content | strip_html | truncatewords: 24 }}</p>
          </div>
        </article>
      {%- endfor -%}
    </div>

    {% render 'pagination', paginate: paginate %}
  {%- endpaginate -%}
</section>

{% schema %}
{
  "name": "Blog",
  "settings": []
}
{% endschema %}
