<section class="page-width">
  <div class="section-heading">
    <p class="section-heading__eyebrow">{{ 'password.title' | t }}</p>
    <h1>{{ 'password.title' | t }}</h1>
  </div>

  {%- if shop.password_message != blank -%}
    <div class="rte">{{ shop.password_message }}</div>
  {%- endif -%}

  {% form 'storefront_password' %}
    {%- if form.errors -%}
      {{ form.errors | default_errors }}
    {%- endif -%}

    <div class="field">
      <label for="password-input">{{ 'password.password' | t }}</label>
      <input class="field__input" type="password" name="password" id="password-input">
    </div>

    <button class="button" type="submit">{{ 'password.enter' | t }}</button>
  {% endform %}
</section>

{% schema %}
{
  "name": "Password",
  "settings": []
}
{% endschema %}
